.education{
  display: flex;
}

.educationLeft{
  flex:3;
  color: rgb(73, 72, 72);
}

.educationRight{
  flex:9;
}
.educationhead{
  height: 30px;
  display: flex;
}
h4{
  height: 3px;
  color: rgb(73, 72, 72);
}
h5{
  height: 3px;
}

.companyheader{
  flex: 3;
}
